.chat-input {
  display: grid;
  align-items: center;
  grid-template-columns: 5% 95%;
  background-color: #f0fdfd;
  padding: 0 2rem;
  border-radius: 0 0 14px 0;
  @media screen and (min-width: 720px) and (max-width: 1080px) {
    padding: 0 1rem;
    gap: 1rem;
  }
  .button-container {
    display: flex;
    align-items: center;
    color: #52585D;
    gap: 1rem;
    .emoji {
      position: relative;
      svg {
        font-size: 1.5rem;
        cursor: pointer;
      }
      .emoji-picker-react {
        position: absolute;
        top: -350px;
        background-color: #cce7ff;
        box-shadow: 0 5px 10px #6588de;
        border-color: #6588de;
        .emoji-scroll-wrapper::-webkit-scrollbar {
          background-color: #cce7ff;
          width: 5px;
          &-thumb {
            background-color: #6588de;
          }
        }
        .emoji-categories {
          button {
            filter: contrast(0);
          }
        }
        .emoji-search {
          color: #52585D;
          background-color: transparent;
          border-color: #6588de;
        }
        .emoji-group:before {
          color: #52585D;
          background-color: #9bb5f1;
        }
      }
    }
  }
  .input-container {
    width: 100%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background: #FDFDFD;
    border: 1px solid rgba(150, 169, 186, 0.7);
    input {
      width: 90%;
      height: 60%;
      background-color: transparent;
      color: #52585D;
      border: none;
      padding-left: 1rem;
      font-size: 1.2rem;
      &::selection {
        background-color: #6588de;
      }
      &:focus {
        outline: none;
      }
    }
    button {
      padding: 0.3rem 2rem;
      border-radius: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #3390ec;
      border: none;
      cursor: pointer;
      @media screen and (min-width: 720px) and (max-width: 1080px) {
        padding: 0.3rem 1rem;
        svg {
          font-size: 1rem;
        }
      }
      svg {
        font-size: 2rem;
        color: white;
      }
    }
  }
}